.statusValue.statusHP {
    color: lawngreen;
}
.statusValue.statusSP {
    color: yellow;
}
.statusValue.debuff {
    color: red;
}
.charactercard {
    border: double 5px #ccc;
    border-radius: 10px;
}